{% extends 'base.html.twig' %}

{% block body %}
<div class="profile-container text-center" style="margin-top: 20px">
    <div class="profile-cover">
        {% if user %}
            <h1 class="profile-name">
                welcome to {{ user.username|upper }}'s profile
            </h1>
        {% endif %}
    </div>
    <div class="profile-picture-container">

        {% if user.avatar %}

            <img id="avatar" src="{{ user.avatar }}" alt="Avatar" width="200" height="200" class="d-inline-block align-text-top">
        {% else %}
            <img id="avatar" src="https://www.gravatar.com/avatar/{{ user.emailHash }}?s=200" alt="Avatar"  width="200" height="200" class="d-inline-block align-text-top">
   {% endif  %}
    </div>
    <div>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    <span>{{ user.xp }} XP </span>
    {% set epicMessages = [
        "Master of the written word, slayer of writer's block!",
        "Ink flows through my veins, tales unfurl with every stroke of the pen!",
        "With quill in hand and imagination boundless, I craft stories that transcend time!",
        "A bard of epic tales, weaving words into tapestries of wonder!",
        "Behold, for I am the literary alchemist, turning words into gold!"
    ] %}
    {% set epicBio = epicMessages[random(0, epicMessages|length - 1)] %}
    {% if user.bio %}
        {% set bio = user.bio %}
    {% else %}
        {% set bio = epicBio %}
    {% endif %}
    <div class="profile-bio">{{ bio }}</div>
    <div class="profile-stats">
        <div class="row">
            <div class="col">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                    <span class="profile-followers">{{ user.follower|length }} Followers</span>
                </a>
                <ul class="dropdown-menu">
                    {% for follower in user.follower %}
                        <li>
                            <a class="dropdown-item" href="{{ path('app_profile', {'id': follower.id}) }}">
                                <img id="avatar" src="{{ follower.avatar }}" alt="Avatar" width="40" height="40" class="d-inline-block align-text-top"> {{ follower.username }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                    <span class="profile-followers">{{ user.following|length }} Following</span>
                </a>
                <ul class="dropdown-menu">
                    {% for following in user.following %}
                        <li>
                            <a class="dropdown-item" href="{{ path('app_profile', {'id': following.id}) }}">
                                <img id="avatar" src="{{ app.following.avatar }}" alt="Avatar" width="40" height="40" class="d-inline-block align-text-top"> {{ following.username }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <br><br>
    <div class="d-grid gap-2 d-md-block buttons">
        {% if app.user %}
            {% if is_following %}
                {% set formAction = path('unfollow_user', {'id': user.id}) %}
                {% set followButtonLabel = 'Unfollow' %}
            {% else %}
                {% set formAction = path('follow_user', {'id': user.id}) %}
                {% set followButtonLabel = 'Follow' %}
            {% endif %}
            <form class="d-inline" action="{{ formAction }}" method="post">
                <button class="btn {{ is_following ? 'btn-primary' : 'btn-warning' }} follow-button">
                    {{ followButtonLabel }}
                </button>
            </form>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">Log in to follow</a>
        {% endif %}


    </div>
    <br><br>
    <div class="profile-stories-container">
        <h2 class="profile-stories-title">Tales in which this person has embarked upon:</h2>
        <div class="grid text-center">
            {% for story in stories %}
                <div class="row">
                    <div class="text-center col">
                        <img alt="{{ story.title }}" src="{{ story.ImageUrl(300) }}">
                        <h5>{{ story.genre }}</h5>
                    </div>

                    <div class="col-6 ">
                        <div class="text-truncate description">
                            {% for contribution in story.contributions %}
                                <p>{{ contribution.content }}</p>
                            {% endfor %}
                        </div>
                        <a href="{{ path('app_storypage', { 'id': story.id }) }}" class="btn btn-warning">Continuez la
                            lecture</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('profile') }}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

    {% endblock %}

    {% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}

{% endblock %}