{% extends 'base.html.twig' %}

{% block body %}
<div class="profile-container text-center">
    <div class="profile-cover">
        {% if user %}
            <h1 class="profile-name">
                welcome to {{ user.username|upper }}'s profile
            </h1>
        {% endif %}
    </div>
    <div class="profile-picture-container">
        {% if user.avatar %}
            <img src="{{ user.avatar }}" alt="Profile picture" class="profile-picture rounded-circle">
        {% else %}
            <img src="{{ asset('https://us.123rf.com/450wm/yummytime/yummytime1608/yummytime160800630/61903988-anonyme-m%C3%A2le-photo-de-profil-avatar-de-l-%C3%A9motion-cr%C3%A9%C3%A9e-pour-mobile-web-d%C3%A9coration-produits-d.jpg') }}"
                 alt="Default profile picture" class="profile-picture rounded-circle">
        {% endif %}
    </div>
    <div>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    <span>{{ user.xp }} XP </span>
    {% set epicMessages = [
        "Master of the written word, slayer of writer's block!",
        "Ink flows through my veins, tales unfurl with every stroke of the pen!",
        "With quill in hand and imagination boundless, I craft stories that transcend time!",
        "A bard of epic tales, weaving words into tapestries of wonder!",
        "Behold, for I am the literary alchemist, turning words into gold!"
    ] %}
    {% set epicBio = epicMessages[random(0, epicMessages|length - 1)] %}
    {% if user.bio %}
        {% set bio = user.bio %}
    {% else %}
        {% set bio = epicBio %}
    {% endif %}
    <div class="profile-bio">{{ bio }}</div>
    <div class="profile-stats">
            <span class="profile-followers">
                <i class="fa-solid fa-user"></i>{{ user.follower|length }} Followers
            </span>
        <span class="profile-following">
                <i class="fa-solid fa-user"></i>{{ user.following|length }} Following
            </span>
    </div>

    <div class="d-grid gap-2 d-md-block buttons">
        {% if app.user %}
            {% set followButtonLabel = is_following ? 'Unfollow' : 'Follow' %}
            <button class="btn {{ is_following ? 'btn-primary' : 'btn-warning' }} follow-button"
                    data-user-id="{{ user.id }}"
                    data-following="{{ path('is_following', {'id': user.id}) }}">
                {{ followButtonLabel }}
            </button>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-primary">Log in to follow</a>
        {% endif %}
        <button class="btn btn-warning">Message</button>
        <button class="btn btn-warning">Report</button>
    </div>

    <div class="profile-stories-container">
        <h2 class="profile-stories-title">Tales in which this person has embarked upon:</h2>
        <div class="grid text-center">
            {% for story in stories %}
                <div class="row">
                    <div class="text-center col">
                        <img alt="{{ story.title }}" src="{{ story.ImageUrl(300) }}">
                        <h5>{{ story.genre }}</h5>
                    </div>

                    <div class="col-6 ">
                        <div class="text-truncate description">
                            {% for contribution in story.contributions %}
                                <p>{{ contribution.content }}</p>
                            {% endfor %}
                        </div>
                        <a href="{{ path('app_storypage', { 'id': story.id }) }}" class="btn btn-warning">Continuez la
                            lecture</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('profile') }}
    {% endblock %}

    {% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}

{% endblock %}