{% extends 'base.html.twig' %}

{% block title %} Modify Profile {% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="text-center my-4">Modify Profile </h1>
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.username, 'Username',{'attr': {'class': "formbold-form-label"}}) }}
                {{ form_widget(form.username, {'attr': {'class': "formbold-form-input"}}) }}
            </div>

            <div class="formbold-textarea mb-3">
                {{ form_label(form.bio, 'Bio',{'attr': {'class': "formbold-form-label"}}) }}
                {{ form_widget(form.bio, {'attr': {'class': "formbold-form-input"}}) }}
            </div>

            <div class="formbold-input-file">
                <label for="upload" class="formbold-input-label">
                    <i class="fa-solid fa-paperclip fa-xl"></i>
                    {{ form_label(form.avatar, 'profile picture ') }}
                    {{ form_widget(form.avatar, {'attr': {'class': 'form-control-file', 'accept' : "image/*"}}) }}
                </label>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('create') }}
{% endblock %}

{% block footer %} {% endblock %}