{% extends 'base.html.twig' %}
 {% set epicMessages = [
     "Master of the written word, slayer of writer's block!",
     "Ink flows through my veins, tales unfurl with every stroke of the pen!",
     "With quill in hand and imagination boundless, I craft stories that transcend time!",
     "A bard of epic tales, weaving words into tapestries of wonder!",
     "Behold, for I am the literary alchemist, turning words into gold!"
 ] %}
                    {% set epicBio = epicMessages[random(0, epicMessages|length - 1)] %}
                    {% set bio = user.bio ?: epicBio %}
{% block body %}
    <main>
        <div class="profile-container text-center">
            <div id="profile-info">
                <div class="infos">
                    <div class="profile-picture-container">
                            <img src="{{ asset ('uploads/avatar_directory/'~ app.user.avatar)}}" alt="Profile picture"
                                 class="profile-picture rounded-circle">

                    </div>
                    <h1 class="profile-name">{{ user.username }}<a href="{{ path('app_modify_profile') }}"><i
                                    class="fa-solid fa-user-pen"></i></a></h1>
                    <span id="bio">{{ bio }}</span>
                </div>

                <div>
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">{{ message }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="profile-xp row align-items-center">
                    <div class="tier-container col">
                        <h5 class="tier">Current tier :</h5>
                        <div class="tier-content">
                            {% if user.tier.badge %}
                                <img class="rounded-circle" height="50" width="50" alt="Tier badge"
                                     src="{{ asset('build/images/tierBadges/' ~ user.tier.badge) }}">
                            {% endif %}
                            <span class="tier-info">{{ user.tier.name }}</span>
                        </div>
                    </div>

                    <div class="tier-container col">
                        {% if nextTier %}
                            <h5 class="tier">Missing XP to Next Tier: {{ nextTier.xpThreshold - user.xp }}</h5>
                            <div class="tier-content row align-items-center">
                                {% if nextTier.badge %}
                                    <img class="col-3 rounded-circle" height="50" width="50" alt="Tier badge"
                                         src="{{ asset('build/images/tierBadges/' ~ nextTier.badge) }}">
                                {% endif %}
                                {% set progress = (user.xp / nextTier.xpThreshold) * 100 %}
                                <div class="col-9">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Quest progress"
                                             style="width: {{ progress }}%;" aria-valuenow="{{ progress }}"
                                             aria-valuemin="0" aria-valuemax="100">
                                            <span id="xp">{{ user.xp }} XP </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <h5 class="tier">Congratulations!</h5>
                            <div class="tier-content">
                                <p>You have reached the highest tier available.</p>
                                <p>It seems we were too lazy to add more tiers, and we never expected anyone to make it
                                    this far!</p>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="profile-stats">
                    <div class="row">
                        <div class="col">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                                <span class="profile-followers">{{ user.follower|length }} Followers</span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for follower in user.follower %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="{{ path('app_profile', {'id': follower.id}) }}">
                                            <img id="avatar" src="{{ follower.avatar }}" alt="Avatar"
                                                 width="40"
                                                 height="40"
                                                 class="d-inline-block align-text-top"> {{ follower.username }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                                <span class="profile-followers">{{ user.following|length }} Following</span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for following in user.following %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="{{ path('app_profile', {'id': following.id}) }}">
                                            <img id="avatar" src="{{ following.avatar }}" alt="Avatar"
                                                 width="40"
                                                 height="40"
                                                 class="d-inline-block align-text-top"> {{ following.username }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-stories-container col">
                <div class="col">
                    <h2 class="profile-stories-title">Tales in which this person has embarked upon:</h2>
                    <div class="grid text-center">
                        {% for story in stories %}
                            <a href="{{ path('app_storypage', { 'id': story.id }) }}">
                                <h5>{{ story.title }}<span
                                            class="badge rounded-pill {{ story.genre }}"> {{ story.genre }} </span></h5>
                                <img alt="{{ story.title }}" src="{{ story.ImageUrl(300) }}">
                                <div class="text-truncate description">
                                    {% for contribution in story.contributions %}
                                        <p>{{ contribution.content }}</p>
                                    {% endfor %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}



        {% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('profile') }}
        {% endblock %}


        {% block stylesheets %}
            {{ parent() }}
            {{ encore_entry_link_tags('profile') }}
        {% endblock %}

{% block footer %}{% endblock %}