{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}



{% block body %}
    <body class="gradient">
    <div class="container">
        <div class="title">
            <img src="{{ asset('build/images/logo.webp') }}" class="img-fluid" alt="Example Image">
            Story Verse Registration Form
        </div>
        <div class="content">
            <div class="user-details">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.first_name,{
                    label:'First Name',
                    attr:{'placeholder':"Enter your first name"},
                    label_attr: {'class': 'details'},
                    row_attr: { class: 'input-box' }
                }) }}
                {{ form_row(registrationForm.last_name,{
                    label:'Last Name',
                    attr:{'placeholder':"Enter your last name"},

                    label_attr: {'class': 'details'},

                    row_attr: { class: 'input-box' }}) }}
                {{ form_row(registrationForm.username,{
                    label:'Username',
                    label_attr: {'class': 'details'},
                    attr:{'placeholder':"Enter your username"},

                    row_attr: { class: 'input-box' }
                }) }}
                {{ form_row(registrationForm.email,{
                    label:'Email',
                    attr:{'placeholder':"Enter your email"},

                    label_attr: {'class': 'details'},
                    row_attr: { class: 'input-box' }}) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password',
                    attr:{'placeholder':"Enter your password"},

                    label_attr: {'class': 'details'},
                    row_attr: { class: 'input-box' }
                }) }}

            </div>
            {{ form_row(registrationForm.gender ,{
                label_attr:{class:"gender"}
            }) }}

            <div class="button">
                <input type="submit" value="Register">
            </div>
            {{ form_end(registrationForm) }}
        </div>
        <footer>Already have an account ?
            {# <a href="{{ path('app_login') }}">Login here</a> #}
        </footer>

    </div>
    </body>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('login') }}
 {% endblock %}


 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('login') }}
 {% endblock %}