{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <main id="main">
        <div class="container">
            <h1 class="text-center my-4">Create a story</h1>
            <div class="formbold-form-wrapper">
                {{ form_start(form) }}
                <div class="formbold-input-flex mb-3">
                    <div>
                        {{ form_label(form.title, 'Title',{'attr': {'class': "formbold-form-label"}}) }}
                        {{ form_widget(form.title, {'attr': {'class': "formbold-form-input"}}) }}
                    </div>
                    <div>
                        {{ form_label(form.genre, 'Genre') }}
                        {{ form_widget(form.genre, {'attr': {'class': 'formbold-form-input'}}) }}
                    </div>
                </div>

                <div class="formbold-textarea">
                    {{ form_label(form.firstContribution, 'Your first contribution',{'attr': {'class': "formbold-form-label"}}) }}
                    {{ form_widget(form.firstContribution, {'attr': {'class': "formbold-form-input"}}) }}
                </div>

                <div class="formbold-input-file mt-4">
                    <label for="upload" class="formbold-input-label">
                        <i class="fa-solid fa-paperclip fa-xl"></i>
                        {{ form_label(form.storyImage, 'Add story Image ') }}
                        {{ form_widget(form.storyImage, {'attr': {'class': 'form-control-file', 'accept' : "image/*"}}) }}
                    </label>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('create') }}
{% endblock %}
