{% extends 'base.html.twig' %}

{% block title %}CompletedStory!{% endblock %}

{% block body %}
    <body>
            <div class="theme ">

            </div>
            <div class="page-content">

                <div class="row">
                    <div class="col-1" id="fixed">
                            <i id="color" class="fa-regular fa-heart fa-2xl" style="color: #d31717;"></i>
                        <div>5000</div>

                    </div>
                <div  class="text col-8" >
                    <div class="title">
                        <h1>{{ story.title }}</h1>
                    </div>

                    {% for contribution in story.contributions %}
                            <p id="{{ contribution.author.id }}">{{ contribution.content }}</p>
                    {% endfor%}

                    <div class="line"></div>

                </div>

            <span  class="authors ">
                <h5>Contributors</h5>
                {% for contribution in story.contributions %}
                        <a href='{{ path('app_profile',{id:contribution.author.id}) }}'>
                    {{ contribution.author.username }}
                    </a>
                        <hr>
                {% endfor %}

        </span>
    </div>
            </div>



{#            comment section #}


            <div id="comment_section" class="col-8">
                <div class="be-comment-block">
                    <h1 class="comments-title">Comments ({{ story.comments|length }})</h1>
                    {% for comment in story.comments %}
                    <div class="be-comment">
                        <div class="be-img-comment">
                            <a href="">
                                <img src="https://www.bootdey.com/image/400x150/FFB6C1/000000" alt="" class="be-ava-comment">
                            </a>
                        </div>
                        <div class="be-comment-content">

				<span class="be-comment-name">
					<a href="">{{ comment.author.username }}</a>
					</span>
                            <span class="be-comment-time">
					            <i class="fa fa-clock-o"></i>
                                {{ comment.createdat|date('d-m-Y') }}
                            </span>
                            <div id="comments_section">
                            <p class="be-comment-text">
                                {{ comment.content }}
                            </p>
                            </div>
                        </div>
                    </div>
{#                        reply#}

                        {% if comment.reply is not null %}
                            <div id="reply" class="row">
                            <div class="icon col-12">
                                <i id="arrow" class="fa-solid fa-arrow-right" style="color: #5c5e60;"></i>
                                <a> Show replies</a>
                            </div>
                            </div>
                        <div class="reply row" style="display:none;">
                            <div class="col-4 icon">
                                <i class="fa-solid fa-reply fa-rotate-180 fa-2xl"></i>
                            </div>
                        <div class="be-comment col-8 ">
                            <div class="be-img-comment">
                                <a href="">
                                    <img src="https://www.bootdey.com/image/400x150/FFB6C1/000000" alt="" class="be-ava-comment">
                                </a>
                            </div>
                            <div class="be-comment-content">
				<span class="be-comment-name">
					<a href="">{{ comment.reply.author.username }}</a>
					</span>
                                <span class="be-comment-time">
					            <i class="fa fa-clock-o"></i>
                                {{ comment.reply.createdat|date('d-m-Y') }}
                            </span>

                                <p class="be-comment-text">
                                    {{ comment.reply.content }}
                                </p>
                            </div>
                        </div>
                        </div>

                        {% endif %}
                    {% endfor %}
                    {{ form_start(form,{'action': path('app_storypage', {'id':story.id}),
                        'attr': {'id': 'comment-form'}}) }}
                    {{ form_widget(form) }}
                    <button type="submit">Submit</button>
                    {{ form_end(form) }}
                </div>
            </div>

        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    </body>
    {% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('completed') }}
     <link href="node_modules/bootstrap/dist/css/bootstrap.css"
 {% endblock %}
 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('completed') }}

 {% endblock %}

