{% extends 'base.html.twig' %}

{% block title %}
    {{ story.title }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="theme"
         style="background-image: url('{{ asset('uploads/story_directory/' ~ story.storyImage) }}');"></div>
    <main class="page-content">
        <div class="container">
            <div class="row justify-content-between">
                {% block like %}
                    <aside class="col-auto" id="fixed">
                        {# Report story #}
                        <div class="action-button" id="report"
                             data-story-id="{{ path('app_report_story', {'id': story.id}) }}">
                            <div class="icn">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </div>
                        </div>

                        {# Generate PDF #}
                        <a href="{{ path('app_pdf', {'id': story.id}) }}" title="save as pdf">
                            <div class="action-button" id="pdf">
                                <div class="icn">
                                    <i class="fa-solid fa-file-pdf"></i>
                                </div>
                            </div>
                        </a>

                        {# Likes #}
                        <div class="like-container">
                            <button class="like" aria-label="like">
                                <i id="color"
                                   class="fa-heart fa-2xl {% if hasLiked %}fa-solid{% else %}fa-regular{% endif %}"
                                   data-story-id="{{ path('app_like', {'id': story.id}) }}"></i>
                            </button>
                            <div id="likes">{{ story.likes|length }}</div>
                        </div>
                    </aside>
                {% endblock %}

                {% block story %}
                    <article class="text rounded-4 col-8">
                        <h1 class="display-3">{{ story.title }}</h1>
                        {% for contribution in story.contributions %}
                            <p class="contr" id="{{ contribution.author.id }}">{{ contribution.content }}</p>
                        {% endfor %}
                    </article>
                    <div class="authors col-auto">
                        <h2 class="mb-3">{{ 'Contributors'|trans }}</h2>
                        {% for contribution in story.contributions %}
                            <a id="{{ contribution.author.id ~ 'author' }}"
                               href="{{ path('app_profile', {'id': contribution.author.id}) }}">
                                {{ contribution.author.username }}
                            </a>
                            <hr>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
        </div>
        <div class="container my-5">
            {% block contribute %}
                {% if not hasContributed %}
                    <div class="text-center">
                        <a id="contribute-btn"
                           class="btn btn-white btn-animate">{{ 'Be part of the story - Contribute now!'|trans }}</a>
                    </div>
                    <div class="container text-center">
                        <div class="row" id="contribute-form">
                            {{ form_start(contributionForm, {'action': path('app_storypage', {'id': story.id}),'attr': {'id': 'contribution-form'}}) }}
                            {{ form_widget(contributionForm.content, {'attr': {'class': 'form-input col-7', 'placeholder': 'add your contribution'|trans}}) }}
                            <button id="sub" type="submit"></button>
                            {{ form_end(contributionForm) }}
                        </div>
                    </div>
                {% else %}
                    <div class="container">
                        <div class="alert alert-light">
                            Looks like you've already contributed to this story! How about exploring some other stories?
                        </div>
                        <a href="{{ path('app_browse_stories') }}" class="btn btn-white btn-animate">Explore</a>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        {# Comment section #}
        {% block comments %}
            <div id="comment-section" class="container">
                <div class="be-comment-block mb-5">
                    <h2 class="mb-3">{{ 'Comments'|trans }} ({{ story.comments|length }})</h2>
                    {% for comment in story.comments %}
                    {% if comment.comment is null %}
                        <div class="be-comment">
                            <div class="be-img-comment">
                                <a href="{{ path('app_profile', {'id': comment.author.id}) }}">
                                    <img width="60" height="60"
                                         src="{{ asset('uploads/avatar_directory/' ~ comment.author.avatar) }}"
                                         alt="Avatar" class="rounded-circle">
                                </a>
                            </div>
                            <div class="be-comment-content">
                                <div class="d-flex justify-content-between mb-3 comment-name">
                                    <a href="{{ path('app_profile', {'id': comment.author.id}) }}">{{ comment.author.username }}</a>
                                    <span class="be-comment-time">
                                            <i class="fa-regular fa-clock"></i>
                                            {{ comment.createdat|date('d-m-Y') }}
                                        </span>
                                </div>
                                <p class="be-comment-text rounded">
                                    {{ comment.content }}
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    {# Replies #}
                    {% for reply in comment.replies %}
                    <div id="reply" class="row">
                        <div class="icon col-12">
                            <i id="arrow" class="fa-solid fa-arrow-right"></i>
                            <a> {{ 'Show replies'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="reply row">
                        <div class="be-comment col-8">
                            <div class="be-img-comment">
                                <a href="{{ path('app_profile', {'id': comment.author.id}) }}">
                                    <img src="{{ asset('uploads/avatar_directory/' ~ comment.author.avatar) }}"
                                         alt="Avatar" class="be-ava-comment">
                                </a>
                            </div>
                            <div class="be-comment-content">
                                        <span class="be-comment-name">
                                            <a href="{{ path('app_profile', {'id': comment.author.id}) }}">{{ reply.author.username }}</a>
					                    </span>
                                <span class="be-comment-time">
                                            <i class="fa-regular fa-clock"></i>
                                                {{ reply.createdat|date('d-m-Y') }}
                                        </span>
                                <p class="be-comment-text rounded">
                                    {{ reply.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    <div class="container">
                  {{ form_start(form, {'action': path('app_storypage', {'id': story.id}), 'attr': {'id': 'comment-form'}}) }}
                    <div class="container mt-4">
                        <div class="row justify-content-center">
                            {{ form_widget(form.content, {'attr': {'class': 'form-input col-8', 'placeholder': 'add your comment'|trans}}) }}
                            <button class="col-1" type="submit" aria-label="submit comment">
                                <i class="fa-solid fa-paper-plane fa-2xl"></i>
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.3.min.js"
                    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
                    crossorigin="anonymous"></script>
        {% endblock %}
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('completed') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('completed') }}
    <script>
        const story = {
            id: {{ story.id }},
            title: '{{ story.title }}'
        }
    </script>
{% endblock %}