{% extends 'base.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block body %}
    <br><br><br><br><br>
    {% if users|length > 0 %}
        <h2>Users Found:</h2>
        <br>
        <div class="row">
            {% for user in users %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{{ user.avatar}}" class="card-img-top" alt="Profile Picture">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ user.username }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p><h2>No users found.</h2></p>
    {% endif %}


    {% if stories|length > 0 %}
        <h2>Stories Found:</h2>
        <br>
        <div class="row">
            {% for story in stories %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="{{ story.image }}" class="card-img-top" alt="Story Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ story.title }}</h5>
                            <p class="card-text">
                                <strong>Language:</strong> {{ story.language }}<br>
                                <strong>Genre:</strong> {{ story.genre }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p><h2>No stories found.</h2></p>
    {% endif %}
{% endblock %}
